// https://www.google.com/design/spec/style/color.html

// Colors for the buttons on the homepage
$red-500: #F44336;
$red-900: #B71C1C;

// Colors used for coloring PMD vital signs
$pmd-white: #FFFFFF;
$pmd-red: #FF0000;
$pmd-orange: #FF8000;
$pmd-blue: #0D74FE;
$pmd-green: #00FF00;
$pmd-purple: #D46AFE;
$pmd-yellow: #FFFF00;

// General PMD colors
$pmd-bg: #212121;