<template name="heartRateButtons">
	<div class="page-header" style="text-align: center;">
      <h4>ECG Controls</h4>
    </div>
	<div>
      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 col-lg-offset-1">
        <button id="normalHR" class="hr-btn btn btn-success">Normal</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
        <button id="slowerHR" class="hr-btn btn btn-success">Slower</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
        <button id="fasterHR" class="hr-btn btn btn-success">Faster</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
        <button id="fibHr" class="hr-btn btn btn-success">Fibbrillation</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
        <button id="flHR" class="hr-btn btn btn-success">Flatline</button>
      </div>
    </div>  
</template>