<template name="instructorEmerg">
  {{#if currentUser}}
    <!-- <div class="page-header" style="text-align: center;">
      <h4>Tank Flow Control</h4>
    </div>
    <div class="row btn-row">
      <span class="pull-left" style="font-size: 0.9em;">Bypass</span> <span class="pull-right" style="font-size: 0.9em;">Sequester</span>
      <input id="slider" type="range" min="0" max="100">
      <p id="sliderValue" class="" style="font-size: 1.15em;">0% blood loss</p>
    </div>      
    <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
        <button id="pumpon" class="btn btn-success center-block">Pump On</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
        <button id="pumpoff" class="btn btn-danger center-block">Pump Off</button>
      </div>
    </div>   -->    

    <div class="page-header" style="text-align: center;">
      <h4>Emergency Scenarios</h4>
    </div>
    <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
        <button id="oxyfail" class="btn btn-primary center-block">Oxyfail</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
        <button id="anesthfail" class="btn btn-primary center-block">Anesthfail</button>
      </div>
    </div>  

    <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
        <button id="inadanticoag" class="btn btn-primary center-block">InadAnticoag</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
        <button id="intravashemo" class="btn btn-primary center-block">IntravasHemo</button>
      </div>
    </div>  
    <div class="page-header" style="text-align: center;">
      <h4>Pump</h4>
    </div>
    <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
        <button id="pumpoff" class="btn btn-primary center-block" >Pump Off</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
        <button id="pumpon" class="btn btn-primary center-block">Pump On</button>
      </div>
    </div>  
    <div class = "row btn-row">
      <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button id="logout" class="btn btn-primary center-block" style="margin-top: 45px;">Logout</button>
      </div> -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
        <button id="return" class="btn btn-primary center-block" style="margin-top: 45px;">Waiting Room</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
        <button id="endSimulation" class="btn btn-danger center-block" style="margin-top: 45px;">End Simulation</button>
      </div>
    </div>
  {{/if}}
</template>