<template name="instructorIncr">
  {{#if currentUser}}
  <div class="incrBtn">
    <!-- <div class="page-header"> -->
    <!-- <div class="page-header" style="text-align: center;"> -->
    <div class="" style="text-align: center;">
      <h3 style="margin-bottom: 0">Instructor Controls</h3>
    </div>

    <div class="page-header" style="text-align: center;">
      <h4>Vital Sign Control</h4>
    </div>

    <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button id="abpUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>ABP</span>
        <button id="abpDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button id="svo2Up" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>SVO<sub>2</sub></span>
        <button id="svo2Down" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div>
    </div>
    <div class="row btn-row">
<!--       <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button id="mapUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>MAP</span>
        <button id="mapDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div> -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button id="capUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>Cap</span>
        <button id="capDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button id="cvpUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>CVP</span>
        <button id="cvpDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button id="bisUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>BIS</span>
        <button id="bisDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div>
      <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button id="alpUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>ALP</span>
        <button id="alpDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div> -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button id="esoTempUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>ESO</span>
        <button id="esoTempDown" class="btn btn-default incr-btn-style  "><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div>
    </div>
    <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
        <button id="bladTempUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>BLD</span>
        <button id="bladTempDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div>
      <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button id="esoTempUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>ESO</span>
        <button id="esoTempDown" class="btn btn-default incr-btn-style  "><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div> -->
    </div>
<!--     <div class="row btn-row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button id="capUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>Cap</span>
        <button id="capDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button id="hrUp" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <span>HR</span>
        <button id="hrDown" class="btn btn-default incr-btn-style"><span class="glyphicon glyphicon-arrow-down"></span></button>
      </div>
    </div> -->
  </div>
  {{/if}}
</template>