<template name="signin">
	<div class="ichor-brand">
		Ichor Perfusion Simulator System
	</div>

	<div class="page-header text-center"> <h1>Please Sign In</h1> </div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
		 	<label for="email">Email: </label>
	 	 	<input id="email" type="text" class="form-control" placeholder="Email">
		 	<label for="password">Password: </label>
	 	 	<input id="password" type="password" class="form-control" placeholder="Password">
		</div>
	</div>
	<div style="text-align: center;">
		<!-- <div class="col-xs-6 col-sm-6 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4"> -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 	 	<button id="signin-btn" class="btn btn-lg btn-success" style="width: 200px; margin-top: 20px; margin-bottom: 35px;">Sign In</button>
	 	</div>
	 	<!-- <div class="col-xs-6 col-sm-6 col-md-offset-2 col-md-4 col-lg-offset-2 col-lg-4">
	 	 	<button id="signup-btn" class="btn btn-lg btn-success">Sign Up</button>
	 	</div> -->
	</div>
	<div style="text-align: center;">
 		<a href="{{pathFor 'signup'}}">Don't have an account? Sign Up</a>
 	</div>
</template>