<!-- NOT USED IN THE CURRENT VERSION OF THE SOFTWARE! -->
<template name="home">
  <div style="text-align: center;">
    <h3>Please choose an option below.</h3>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <button id="student-portal" class="btn btn-huge">{{getUserRole}} Portal</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <button id="perf-sim" class="btn btn-huge">Perfusion Simulation</button>
    </div>
  </div>
</template>
<!-- NOT USED IN THE CURRENT VERSION OF THE SOFTWARE! -->