<template name="signup">
  <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
    <div class="page-header"> <h1>New User Sign Up</h1> </div>

    <label for="firstName">First Name: </label>
    <input id="firstName" type="text" placeholder="First Name" class="form-control">
    <label for="lastName">Last Name: </label>
    <input id="lastName" type="text" placeholder="Last Name" class="form-control">

    <label for="email">E-mail Address: </label>
    <input id="email" type="text" class="form-control" placeholder="E-mail Address">

    <label for="verifyEmail">Verify E-mail Address: </label>
    <input id="verifyEmail" type="text" class="form-control" placeholder="Verify E-mail Address">

    <label for="password">Password: </label>
    <input id="password" type="password" class="form-control" placeholder="Password">

    <label for="verifyPassword">Verify Password: </label>
    <input id="verifyPassword" type="password" class="form-control" placeholder="Verify Password">

    <div style="text-align: center;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button id="signup-btn" class="btn btn-lg btn-success" style="width: 200px; margin-top: 20px; margin-bottom: 35px;">Sign Up</button>
        </div>
    </div>

    <div style="text-align: center;">
        <a href="{{pathFor 'signin'}}">Already have an account? Sign In</a>
    </div>

  </div>
</template>